// import colors
@import '~variables.scss';

mat-card:first-child {
    margin-bottom: 1em;
}

mat-card-title {
    font-size: 2em !important;
}

nav {
    display: flex;
}

.spacer {
    flex: auto;
    text-align: center;
    color: $primary;
}
