<header>
    <mat-toolbar color="primary">
        <span>{{ appName }}</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <nav>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item *ngIf="!isLogged" routerLink="/quotes/login">
                <mat-icon>person</mat-icon> Login
            </button>
            <button mat-menu-item *ngIf="!isLogged" routerLink="/quotes/register">
                <mat-icon>person_add</mat-icon> Register
            </button>
            <button mat-menu-item *ngIf="isLogged" routerLink="/quotes/list">
                <mat-icon>format_quote</mat-icon> Quotes
            </button>
            <button mat-menu-item *ngIf="isLogged" (click)="openDialog()">
                <mat-icon>add</mat-icon> Add
            </button>
            <button mat-menu-item *ngIf="isLogged" routerLink="/quotes/logout">
                <mat-icon>person_outline</mat-icon> Logout (<app-user></app-user>)
            </button>

            <a mat-menu-item href="http://bookquotes.me/expenses/" target="_blank">
                <mat-icon>shopping_cart</mat-icon> Expenses
            </a>
        </mat-menu>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <mat-toolbar>
        <a href='https://play.google.com/store/apps/details?id=me.bookquotes.quotes&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank">
            <img alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png'/>
        </a>
        <span class="spacer"></span>
        <span>
            By <a href="https://twitter.com/h4k1m0u" target="_blank" mat-raised-button color="primary">@h4k1m0u</a>
        </span>
    </mat-toolbar>
</footer>
