<form>
    <mat-form-field>
        <input matInput type="text" required placeholder="Username" #username />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" required placeholder="Password" #password />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email" required placeholder="Email" #email />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onRegister(username.value, password.value, email.value)">
        Register
    </button>
</form>
